# elements de data explo broullon

j'essaie juste des trucs pour comprendre
# comprendre le clustering

In [23]:
import os
import pandas as pd

In [24]:
# --Chemins--
raw_data_path = os.path.join(os.path.dirname(os.getcwd()), 'data', 'raw')
processed_data_path = os.path.join(os.path.dirname(os.getcwd()), 'data', 'processed')
testing_path = os.path.join(processed_data_path, 'testing.csv')
training_path = os.path.join(processed_data_path, 'training.csv')
stores_path = os.path.join(raw_data_path, 'stores.csv')
# --Tables--
train_df = pd.read_csv(training_path)
train_df['date'] = pd.to_datetime(train_df['date'], format='%Y-%m-%d')

test_df = pd.read_csv(testing_path)
test_df['date'] = pd.to_datetime(test_df['date'], format='%Y-%m-%d')

stores_df = pd.read_csv(stores_path)

In [25]:
stores_df.shape

(54, 5)

> on a 54 magasin differents

In [27]:
train_df[train_df['date']=='2013-01-01'][train_df['family']=='BABY CARE'].shape

/var/folders/db/swcwxrj54c30_jn72llv15kh0000gn/T/ipykernel_98557/2086328499.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  train_df[train_df['date']=='2013-01-01'][train_df['family']=='BABY CARE'].shape

(54, 5)

In [26]:
train_df

              id       date  store_nbr                      family     sales
0              0 2013-01-01          1                  AUTOMOTIVE     0.000
1              1 2013-01-01          1                   BABY CARE     0.000
2              2 2013-01-01          1                      BEAUTY     0.000
3              3 2013-01-01          1                   BEVERAGES     0.000
4              4 2013-01-01          1                       BOOKS     0.000
...          ...        ...        ...                         ...       ...
1945939  1945939 2015-12-31          9                     POULTRY   734.391
1945940  1945940 2015-12-31          9              PREPARED FOODS    98.888
1945941  1945941 2015-12-31          9                     PRODUCE  2888.340
1945942  1945942 2015-12-31          9  SCHOOL AND OFFICE SUPPLIES     0.000
1945943  1945943 2015-12-31          9                     SEAFOOD    20.340

[1945944 rows x 5 columns]

il faudra aussi comprendre les donne sbien : on a 33 famille de produit, et  a chaque date, on a les ventes dans chaque famille de produit de tout les magasins dans test.csv

bcp de 0 donc , c pas forcement des magasin qui marche bien. 

on a 17 magasin 


.
.
.

tout sa sont des infos a faire ressortir

# note pour nous


grossomodo on peut reprendre les codes kaglle dessus, jaimerai juste que on etuide cette famesue variable cluster. voir sa pertinence et si il faut pas que on la refsse . 

comme sa on fait botom up clasique puis celle avec clustering de time series et si on a le temps, reconciliattion (cours)