# elements de data explo 

j'essaie juste des trucs pour comprendre
# comprendre le clustering

In [1]:
import os
import pandas as pd

In [8]:
raw_data_path = os.path.join(os.path.dirname(os.getcwd()), 'data', 'raw')
testing_path = os.path.join(raw_data_path, 'test.csv')
training_path = os.path.join(raw_data_path, 'train.csv')
stores_path = os.path.join(raw_data_path, 'stores.csv')

In [9]:
train_df = pd.read_csv(training_path)

train_df.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [24]:
stores_df = pd.read_csv(stores_path)
for i in range(1,18):
    print(stores_df[stores_df['cluster'] == i])

    store_nbr       city        state type  cluster
23         24  Guayaquil       Guayas    D        1
24         25    Salinas  Santa Elena    D        1
26         27      Daule       Guayas    D        1
    store_nbr    city  state type  cluster
36         37  Cuenca  Azuay    D        2
41         42  Cuenca  Azuay    D        2
    store_nbr           city                           state type  cluster
15         16  Santo Domingo  Santo Domingo de los Tsachilas    C        3
29         30      Guayaquil                          Guayas    C        3
31         32      Guayaquil                          Guayas    C        3
32         33        Quevedo                        Los Rios    C        3
34         35         Playas                          Guayas    C        3
39         40        Machala                          El Oro    C        3
53         54      El Carmen                          Manabi    C        3
    store_nbr           city                           state type  cluster
4           5  Santo Domingo  Santo Domingo de los Tsachilas    D        4
37         38           Loja                            Loja    D        4
40         41        Machala                          El Oro    D        4
    store_nbr   city      state type  cluster
43         44  Quito  Pichincha    A        5
    store_nbr           city                           state type  cluster
8           9          Quito                       Pichincha    B        6
10         11        Cayambe                       Pichincha    B        6
19         20          Quito                       Pichincha    B        6
20         21  Santo Domingo  Santo Domingo de los Tsachilas    B        6
33         34      Guayaquil                          Guayas    B        6
38         39         Cuenca                           Azuay    B        6
    store_nbr      city       state type  cluster
13         14  Riobamba  Chimborazo    C        7
21         22      Puyo     Pastaza    C        7
   store_nbr   city      state type  cluster
2          3  Quito  Pichincha    D        8
6          7  Quito  Pichincha    D        8
7          8  Quito  Pichincha    D        8
    store_nbr    city       state type  cluster
3           4   Quito   Pichincha    D        9
22         23  Ambato  Tungurahua    D        9
    store_nbr        city       state type  cluster
25         26   Guayaquil      Guayas    D       10
27         28   Guayaquil      Guayas    E       10
28         29   Guayaquil      Guayas    E       10
30         31    Babahoyo    Los Rios    B       10
35         36    Libertad      Guayas    E       10
42         43  Esmeraldas  Esmeraldas    E       10
    store_nbr   city      state type  cluster
44         45  Quito  Pichincha    A       11
48         49  Quito  Pichincha    A       11
51         52  Manta     Manabi    A       11
    store_nbr   city      state type  cluster
16         17  Quito  Pichincha    C       12
    store_nbr   city      state type  cluster
0           1  Quito  Pichincha    D       13
1           2  Quito  Pichincha    D       13
5           6  Quito  Pichincha    D       13
52         53  Manta     Manabi    D       13
    store_nbr    city       state type  cluster
45         46   Quito   Pichincha    A       14
46         47   Quito   Pichincha    A       14
47         48   Quito   Pichincha    A       14
49         50  Ambato  Tungurahua    A       14
    store_nbr       city      state type  cluster
9          10      Quito  Pichincha    C       15
11         12  Latacunga   Cotopaxi    C       15
12         13  Latacunga   Cotopaxi    C       15
14         15     Ibarra   Imbabura    C       15
18         19   Guaranda    Bolivar    C       15
    store_nbr   city      state type  cluster
17         18  Quito  Pichincha    B       16
    store_nbr       city   state type  cluster
50         51  Guayaquil  Guayas    A       17

il faudra aussi comprendre les donne sbien : on a 33 famille de produit, et  a chaque date, on a les ventes dans chaque famille de produit de tout les magasins dans test.csv

bcp de 0 donc , c pas forcement des magasin qui marche bien. 

on a 17 magasin 


.
.
.

tout sa sont des infos a faire ressortir