---
## Prophet

In [1]:
import pandas as pd
from prophet import Prophet

ModuleNotFoundError: No module named 'prophet'

In [3]:
# --Tables--
series_train = pd.read_csv("series_train.csv")
series_test = pd.read_csv("series_test.csv")

In [ ]:



from prophet import Prophet
vars = ['date','sales']
data = series_train[vars].reset_index()
model_prophet = Prophet()
model_prophet.fit(data)

future1 = m.make_future_dataframe(periods=0)
forecast1 = m.predict(future1)
forecast1[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()
daily_sales['forecast_2.1'] = forecast1['yhat'].values

           date         sales  onpromotion  oil_price  holiday  Test_Forecast
0    2016-01-01  1.643339e+04          159  37.076647        1   8.832907e+05
1    2016-01-02  1.066677e+06         1832  36.970000        0   6.229928e+05
2    2016-01-03  1.226736e+06         2936  36.863353        0   1.115351e+06
3    2016-01-04  9.559569e+05         1741  36.810000        0   9.056684e+05
4    2016-01-05  8.353204e+05         3950  35.970000        0   9.304216e+05
..          ...           ...          ...        ...      ...            ...
603  2017-08-27  0.000000e+00        10297  46.712588        0   1.177121e+06
604  2017-08-28  0.000000e+00         8489  46.400000        0   1.465393e+06
605  2017-08-29  0.000000e+00        10876  46.460000        0   1.623522e+06
606  2017-08-30  0.000000e+00        21491  45.960000        0   2.030423e+06
607  2017-08-31  0.000000e+00        11281  47.260000        0   1.486859e+06

[608 rows x 6 columns]